<header> 
    <nav class="navbar"> 
        <a href="/" class="nav-logo">Sigma</a> 
        <ul class="nav-links"> 
            <li><a href="/" id="fho">Home</a></li> 
            <li><a href="/login" id="flo">Login</a></li> 
            <li><a href="/registration" id="fre">Registration</a></li> 
        </ul> 
    </nav>
</header>