       <form action="index.html" target="_blank">
        <button id="goool">Кот</button>
       </form>
       <form action="index2.html" target="_blank">
        <button id="gool">?????</button>
       </form>
