#goool{
    background-color: red;
    width: 300px;
    height: 100px;
    font-size: 20px;
    margin-top: 400px;
    margin-left: 750px;
}
#gool{
    background-color: purple;
    width: 300px;
    height: 100px;
    font-size: 20px;
    margin-left: 750px;
}